.root {
  display: flex;
  flex-direction: column;
  border: 1px solid #adadad;
  padding: 20px 20px 60px;
  position: relative;
  .img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .price {
    color: #adadad;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 16px;
    .to_cart {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 8px 16px;
      background-color: #db9969;
      border-radius: 12px;
      color: #fff;
      span {
        font-weight: 800;
      }
    }
  }
}